<!DOCTYPE html>

<html >

<body>
<table border="1" id="clients" class="table table-striped dataTable no-footer" data-sortable="" role="grid" aria-describedby="clients_info">
    <thead>
    <tr role="row"><th style="width: 150px;" class="sorting_asc" tabindex="0" aria-controls="clients" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Имя: activate to sort column descending">Имя</th><th style="width: 200px;" class="sorting" tabindex="0" aria-controls="clients" rowspan="1" colspan="1" aria-label="Почта: activate to sort column ascending">Почта</th><th style="width: 200px;" class="sorting" tabindex="0" aria-controls="clients" rowspan="1" colspan="1" aria-label="Телефон: activate to sort column ascending">Телефон</th><th class="sorting" tabindex="0" aria-controls="clients" rowspan="1" colspan="1" aria-label="Количество заказов: activate to sort column ascending" style="width: 346px;">Количество заказов</th></tr>
    </thead>
    <tbody>
    <tr role="row" class="odd">
        <td class="sorting_1">
            Andrey
        </td>
        <td>andrey@gmail.com</td>
        <td>79111111111</td>
        <td>3</td>
    </tr><tr role="row" class="even">
        <td class="sorting_1">
            Andrey1
        </td>
        <td>andrey@gmail.com</td>
        <td>79111111111</td>
        <td>2</td>
    </tr><tr role="row" class="odd">
        <td class="sorting_1">
            Andrey_Nikolaev
        </td>
        <td>andrey@gmail.com</td>
        <td>79111111111</td>
        <td>1</td>
    </tr><tr role="row" class="even">
        <td class="sorting_1">
            Igor
        </td>
        <td>Igor@mail.ru</td>
        <td>111333111313</td>
        <td>1</td>
    </tr><tr role="row" class="odd">
        <td class="sorting_1">
            Nikita
        </td>
        <td>nikita@gmail.com</td>
        <td>79111111111</td>
        <td>0</td>
    </tr></tbody>
</table>
</body>

</html>